* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff: 'Epilogue', sans-serif;
    --bg-primary: #242649;
    --fc-primary: white;
    --fc-secondary: hsl(50, 86%, 89%);
    --fs-body: 1.6rem;
    --fs-header: 4rem;

    font-size: 62.5%;
}

body {
    font-family: var(--ff);
    background: var(--bg-primary);
    color: var(--fc-primary);
    font-size: var(--fs-body);
}

.page {
    max-width: 33rem;
    margin: 0 auto;
}

@media (min-width: 930px) {
    :root {
        --fs-heading: 5.6rem;
    }
    .page {
        max-width: 117rem;
        padding: 0 5rem;
    }

    main {
        grid-template-areas: "A B"
        "C D";
    }

}

main {
    display: grid;
    gap: 2.6rem;
    animation: downtop 1s reverse backwards;
}

img {
    width: 100%;
}

header {
    margin: 10rem 0 8rem;
    font-family: var(--ff);
    text-align: center;
    animation: topdown 1s;
}

header p {
    color: var(--fc-secondary);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;

    margin-bottom: 1.7rem;
    line-height: 3.2rem;
}

header h1 {
    font-weight: 800;
    line-height: 4.8rem;
    font-size: var(--fs-header);
}

.card {
    position: relative;
    font-family: var(--ff);
}

.card img {
    height: 41.6rem;
    object-fit: cover;
    border-radius: 6rem;
    transition: all 700ms;
}

.card img:hover {
    transform: scale(1.1);
    opacity: 0.5;
    filter: blur(5px);
}

.card h2 {
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;
    font-size: 4rem;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 2.8rem; 
}

.card h2 span {
    font-weight: 400;
    font-size: var(--fs-body);
    border-radius: 2rem;
    background: var(--fc-primary);
    color: var(--bg-primary);
    padding: 0 1.6rem;
    height: 3.8rem;
    width: fit-content;
    display: inline-flex;
    align-items: center;
}


@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes downtop {
    
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}